@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root{
  --button_color: #FACA10;
  --font_color:#1E1E1E;
  --white_color:#fff;
  --fist_bgcolor:#FBFBFB;
  --secend_bgcolor:#f2f2f2;
  --Nunito:"Nunito", serif;
  --Lora:"Lora", serif;
}


@layer base{
  
  *{
    @apply m-0 p-0 outline-none box-border;
  }
  ul,ol,li{
    @apply list-none
  }
  a{
    @apply no-underline inline-block
  }
  img{
    @apply align-middle
  }
  .container{
    @apply m-auto;
  }
}

@layer components{
  .menu::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--button_color);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
  .menu:hover::after{
    width: 100%;
  }
  .btn{
    position: relative;
    z-index: 1;
  }
  .btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--button_color);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    z-index: -1;
}
.btn:hover::after{
  width: 0;
}
.Bbtn::after{
left: 0;
}
}
